*.rar
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.sct
*.scvd
*.uvguix
*.dbg*
*.uvguix.*
.mxproject
 
RTE/
Templates/
Examples/
 
!*.uvprojx
!*.h
!*.c
!*.ioc
!*.axf
!*.bin
!*.hex
*.o

./AGV_Board/MDK-ARM/AGV_Board/*.o
./AGV_Board/MDK-ARM/AGV_Board/*.d
./AGV_Board/MDK-ARM/AGV_Board/*.crf
./AGV_Board/MDK-ARM/AGV_Board/*.htm
./AGV_Board/MDK-ARM/AGV_Board/*.__i
